fastapi
uvicorn[standard]
python-multipart
python-dotenv
pydantic

langchain
langchain-openai
langchain-ollama
langchain-groq
langchain-huggingface
sentence-transformers
langchain-community
langchain-chroma
langchain-text-splitters
langchain-core
chromadb

redis

pypdf
python-docx
python-pptx
beautifulsoup4
requests
wikipedia
faster-whisper
